$blue: #007bff;
$blue-hover: #0056b3;
$bg-light-gray: #F8F9F8;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// .App {
// }

.form-container {
    margin: 65px auto 0;
    display: flex;
    flex-direction: column;
    background-color: $bg-light-gray;
    border-radius: 20px;
    align-items: center;
}

.login_register {
    display: flex;
    justify-content: space-evenly;
    padding: 30px 20px 0;

    @media (max-width: 768px) {
        flex-direction: column;
    }

    .form {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: 20px;

        h4 {
            margin-bottom: 30px;
            text-align: center;
        }

        .form-group {
            margin-bottom: 30px;
        }
    }
}

.home-container {
    display: flex;
    flex-direction: column;    
}

.home-nav {
    display: flex;
    background-color: $bg-light-gray;
    padding: 5px 30px;
    align-items: center;
    justify-content: space-between;
    .nav-profile {
        display: flex;
        align-items: center;
        img {
            border-radius: 30px;
            margin-right: 15px;
        }
    }
    .link {
        display: flex;
        color: #6c757d;
        text-decoration: none;
        padding: 5px 7px;

        > a {
            padding: 0;
            margin: 0;
            display: inline-block;
        }

        > div {
            padding-left: 7px;
        }
        &:hover {
            color: white;
        }
    }
    .nav-logout {
        display: flex;
        align-items: center;
        > div {
            padding-right: 7px;
        }
    }
}

.posts-chat-container {
    display: flex;
    margin-top: 15px;
    justify-content: space-around;

    @media (max-width: 900px) {
        flex-direction: column;
    }
}

.posts {
    width: 60%;
    margin: 10px;
    background-color: $bg-light-gray;    
    .posts-menu {
        display: flex;
        padding: 10px;
        align-items: center;
        justify-content: center;
        .new-post {
            display: flex;
            align-items: center;
            border-radius: 25px;
            margin: 0 8px 0 5px;
            padding: 4px 7px;
            > div {
                margin: 0 4px 0 8px;
                font-size: 1rem;
            }
        }
        .dropdown-item {
            padding: 5px 10px;
            margin: 0;
            &:hover {
                cursor: pointer;
            }
        }
    }
    @media (max-width: 900px) {
        width: 90%;
        margin: 10px auto;
        .posts-menu {
            flex-direction: column;
            .new-post {
                margin-bottom: 10px;
            }
        }
    }

    .posts-container {
        height: 520px;
        overflow-y: auto;
    }

    .post {
        margin: 10px;
        background-color: white;
        img {
            margin: auto 0;
        }
        .continue {
            display: none;
        }
        @media (max-width: 530px) {
            img {
                display: none;
            }
            .continue {
                display: inline;
            }
        }
    }
}
.imglink {
    margin: 20px 0;
}

.edit-container {
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: column;
    z-index: 5;

    .edit-inputs {
        display: flex;
        flex-direction: column;
        .edit-input {
            border: 1px solid $bg-light-gray;
            padding: 5px 10px;
            margin: 5px 10px;
        }
    }
    .edit-buttons {
        margin: 10px 15px;
    }
}

.profile-page {
    .header {
        display: flex;
        padding: 0 30px;
        margin: 0 0;
        text-align: center;
        align-items: center;
    }
    .link {
        display: flex;
        text-decoration: none;
        padding: 5px 7px;
        > a {
            padding: 0;
            margin: 0;
            display: inline-block;
        }

        > div {
            padding-left: 7px;
        }
        &:hover {
            color: white;
        }
    }
    .profile-pic {
        margin: 20px auto;
        width: 50%;
        height: 200px;
        background-image: url('./pages/Home/profile_pic.png');
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        position: relative;
    }
    .edit-pic {
        position:absolute;
        bottom:0;
        right: 10%;
        padding: 5pxx;
        font-size: 20px;
    }
    
    .profile-section {
        display: flex;
        margin: 20px 40px;
    }
    .section-title {
        color: white;
        padding: 20px 30px;
        background-color: #8d9092;
        width: 202px;
    }
    .input-groups {
        display: flex;
        flex-direction: column;
        background-color: #302e38;
        flex: 1;
    }
    .input-group {
        padding: 20px 30px;
        background-color: #302e38;
    }
    .input-field {
        display: flex;
        align-items: center;
        padding-left: 20px;
    }
    .label {
        width: 160px;
        text-align: right;
        padding-right: 10px;
        color: 	#e4e0c5;
    }
    .value {
        border: none;
        border-radius: 7px;
        background-color: #3d3946;
        padding: 4px 10px;
        color: white;
    }
    .save-btn {
        margin-left: 160px;
    }
    @media only screen and (max-width: 745px) {
        .input-field {
            flex-direction: column;
            text-align: left;
            align-items: baseline;
        }
        .label {
            text-align: left;
            margin-bottom: 10px;
        }
        .value {
            text-align: left;
        }
        .save-btn {
            margin-left: 0;
        }
    }
    @media only screen and (max-width: 560px) {
        .header {
            flex-direction: column;
        }
        .section-title {
            width: 100%;
        }
        .profile-section {
            flex-direction: column;
            margin: 0;
        }
        .input-group {
            padding: 10px 0;
        }
        .label {
            margin: 0;
        }
    }
}

.chat {
    width: 40%;
    margin: 10px;
    background-color: $bg-light-gray;
    @media (max-width: 900px) {
        width: 90%;
        margin: 10px auto;
    }
}
