@import url("https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&family=Roboto:wght@300;400;500;700&display=swap");

$hover: #434343;

@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

* {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
  outline: none;
  font-family: "Roboto", sans-serif;
  color: white;
}

body {
  background: #212121;
}

.auth-page-container {
  @include flex-center;
  margin-top: 70px;
  @media screen and (max-width: 570px) {
    flex-direction: column;
  }

  .inner-container {
    height: 400px;
    @include flex-center;
    flex-direction: column;
    justify-content: space-between;
    background: #333333;
    padding: 20px;
    margin: 10px;
    border: 1px solid white;
    border-radius: 10px;

    .title-section {
      padding-bottom: 10px;
      border-bottom: 1px solid gray;
    }

    .inputs-section {
      @include flex-center;
      flex-direction: column;
      > div {
        display: flex;
        flex-direction: column;
        margin: 0 10px;
        span {
          font-size: 0.7rem;
          color: #ee9bb4;
        }
      }
      input {
        margin: 10px 0;
        padding: 8px 15px;
        background: #212121;
        color: white;
        font-weight: medium;
        font-size: 0.9rem;
        &:focus {
          -webkit-box-shadow: 0px 0px 5px 0px #00b0ff;
          -moz-box-shadow: 0px 0px 5px 0px #00b0ff;
          box-shadow: 0px 0px 5px 0px #00b0ff;
          transition: 0.2s;
        }
      }
    }

    .btn-section {
      @include flex-center;
      flex-direction: column;

      .btn {
        cursor: pointer;
        color: white;
        font-weight: bold;
        letter-spacing: 1px;
        padding: 10px 15px;
        margin: 5px;
        background: #00b0ff;

        &:hover {
          background: #73c9f1;
          -webkit-box-shadow: 0px 0px 5px 0px #00b0ff;
          -moz-box-shadow: 0px 0px 5px 0px #00b0ff;
          box-shadow: 0px 0px 5px 0px #00b0ff;
        }
        &:active {
          background: #9fd4ec;
        }
      }
      .guest-btn {
        cursor: pointer;
        color: white;
        font-weight: bold;
        letter-spacing: 1px;
        padding: 10px 15px;
        margin: 5px;
        background: #333333;
        border: 1px solid #00b0ff;

        &:hover {
          -webkit-box-shadow: 0px 0px 5px 0px #00b0ff;
          -moz-box-shadow: 0px 0px 5px 0px #00b0ff;
          box-shadow: 0px 0px 5px 0px #00b0ff;
        }
        &:active {
          background: #9fd4ec;
        }
      }
    }
  }
}
.home-page-container {
  nav {
    position: sticky;
    top: 0;
    z-index: 2;
    @include flex-center;
    justify-content: space-between;
    background: #333333;
    padding: 4px 20px;

    .left-nav {
      @include flex-center;
      h4 {
        margin-left: 15px;
      }
    }

    .right-nav {
      @include flex-center;
    }
    :first-child {
      margin-right: 10px;
    }
  }
  main {
    @include flex-center;
    margin: 10px auto;
    align-items: flex-start;
    @media screen and (max-width: 960px) {
      align-items: center;
      flex-direction: column;
    }
    .posts-section {
      max-width: 700px;
      flex: 1 1 auto;
      height: 580px;
      overflow-y: scroll;
      background: #333333;
      padding: 0 10px 10px;
      margin: 0 10px;
      .menu {
        background: #333333;
        position: sticky;
        top: 0;
        @include flex-center;
        padding: 10px;
        .new-post {
          flex-shrink: 0;
          button {
            cursor: pointer;
            padding: 10px 20px;
            background: #333333;
            border: 1px solid white;
            font-size: 1rem;
            font-weight: bold;
            border-radius: 10px;
            &:hover {
              background: $hover;
            }
            &:active {
              background: #747474;
              transition: 0.2s;
            }
          }
        }
        @media screen and (max-width: 520px) {
          align-items: center;
          flex-direction: column;
          .new-post {
            margin-bottom: 10px;
          }
        }
        .search-post {
          flex: 1 1 auto;
          margin-left: 10px;
          border: 1px solid white;
          border-radius: 10px;
          background: #5a5a5a;
          input {
            background: #5a5a5a;
            border-radius: 10px;
            padding: 10px 15px;
          }
          i {
            padding: 10px;
            cursor: pointer;
            border-radius: 10px;
            &:hover {
              background: $hover;
            }
            &:active {
              background: #747474;
              transition: 0.2s;
            }
          }
        }
      }
      .posts {
        display: flex;
        flex-direction: column;
      }
    }
    .chat-section {
      max-width: 400px;
      flex: 1 0 300px;
      background: #333333;
      padding: 0 10px 10px;
      margin: 0 10px;
      border-radius: 10px;
      @media screen and (max-width: 960px) {
        width: 300px;
        margin-top: 20px;
      }

      h4 {
        margin: 15px 0 15px;
        text-align: center;
      }
      .chat-history {
        min-height: 400px;
        display: flex;
        flex-direction: column;
        background: #212121;
        padding: 10px;
        border-radius: 10px 10px 0 0;
        overflow-y: scroll;
        .message {
          margin: 5px;
          background: #333333;
          padding: 5px 10px;
          border-radius: 10px 10px 10px 0px;
          align-self: flex-start;
          span {
            font-size: 0.7rem;
            color: #747474;
          }
        }
        .my {
          border-radius: 10px 10px 0px 10px !important;
          align-self: flex-end;
          border-radius: 20px;
        }
      }
      .send-message {
        display: flex;
        align-items: center;
        border-radius: 0 0 10px 10px;
        background: #5a5a5a;
        input {
          flex: 1 1 auto;
          background: #5a5a5a;
          border-radius: 10px;
          padding: 10px 15px;
        }
        i {
          padding: 10px;
          margin-right: 7px;
          cursor: pointer;
          border-radius: 50%;
          &:active {
            background: #747474;
            transition: 0.2s;
          }
        }
      }
    }
  }
}

.profile-page-container {
  @include flex-center;
  flex-direction: column;
  a {
    width: 100%;
    position: sticky;
    margin: 10px 0 10px 40px;
  }
  .profile-username {
    font-size: 2rem;
    margin: 0 0 30px;
    text-align: center;
  }
  .profile-details-card {
    display: flex;
    align-items: center;
    margin: 15px 20px;
    width: 550px;
    @media screen and (max-width: 750px) {
      flex-direction: column;
      width: 400px;
    }
    .details-edit {
      background: #333333;
      width: 100%;
      @include flex-center;
      flex-direction: column;
      padding: 15px;
      p {
        margin: 10px 0 20px;
      }
      input {
        flex: 1 1 auto;
        background: #5a5a5a;
        border-radius: 10px;
        padding: 10px 15px;
        margin: 10px 0 20px;
      }
      button {
        align-self: center;
        cursor: pointer;
        padding: 6px 10px;
        background: #333333;
        border: 1px solid white;
        font-size: 1rem;
        font-weight: bold;
        border-radius: 10px;
        &:hover {
          background: $hover;
        }
        &:active {
          background: #747474;
          transition: 0.2s;
        }
      }
    }
    .detail {
      width: 200px;
      align-self: stretch;
      background: #5a5a5a;
      @include flex-center;

      @media screen and (max-width: 750px) {
        width: 100%;
        flex: 1 1 auto;
        padding: 20px;
      }
    }
  }
}
.alert {
  border-radius: 10px;
  border: 1px solid #eebc18;
  padding: 10px 20px;
}

#modal {
  display: flex;
  align-items: stretch;
  flex-direction: column;
  width: 400px;
  margin: 20px auto;
  padding: 20px;
  border-radius: 10px;
  background: #333333;
  @media screen and (max-width: 560px) {
    width: 315px;
  }
  input {
    font-size: 1rem;
    background: #5a5a5a;
    border-radius: 10px;
    padding: 10px 15px;
    margin: 10px 0 15px;
  }
  textarea {
    font-size: 1rem;
    background: #5a5a5a;
    border-radius: 10px;
    padding: 10px 15px;
    margin: 10px 0 15px;
  }
  button {
    align-self: center;
    cursor: pointer;
    padding: 10px 20px;
    background: #333333;
    border: 1px solid white;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 10px;
    &:hover {
      background: $hover;
    }
    &:active {
      background: #747474;
      transition: 0.2s;
    }
  }
  img {
    margin: 10px 0 10px;
    align-self: center;
  }
}
.modal-btns {
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.post-page-container {
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  min-width: 300px;
  max-width: 600px;
  background: #333333;
  a {
    margin-left: 10px;
  }
  .icon {
    align-self: center;
  }
  h4 {
    font-size: 1.7rem;
    text-align: center;
  }
  .edit-delete-btns {
    margin: 20px 0 10px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
  .author {
    font-weight: bold;
    color: #007bf0;
    margin: 10px 30px 10px;
  }
  .date {
    margin: 0 30px 20px;
    font-size: 0.9rem;
    color: #747474;
  }
  p {
    font-size: 1.1rem;
    padding: 10px;
    margin: 10px 30px 20px;
  }
  input {
    align-self: center;
    background: #5a5a5a;
    border-radius: 10px;
    padding: 10px 15px;
  }
  textarea {
    align-self: center;
    background: #5a5a5a;
    border-radius: 10px;
    padding: 10px 15px;
  }
  .modal-btns {
    margin-bottom: 30px;
  }
  button {
    align-self: center;
    cursor: pointer;
    padding: 10px 20px;
    margin: 10px 0 10px;
    background: #333333;
    border: 1px solid white;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 10px;
    &:hover {
      background: $hover;
    }
    &:active {
      background: #747474;
      transition: 0.2s;
    }
  }
  img {
    margin: 10px 0 20px;
    align-self: center;
    width: 400px;
  }
}

.myposts-container {
  .post {
    .left {
      .top {
        .icon {
          text-align: end;
          margin-right: 10px;
        }
      }
      .bottom {
        max-height: 150px;
        overflow: hidden;
      }
    }
    img {
      width: 150px;
    }
  }
}

.profile-nav {
  @include flex-center;
  justify-content: space-between;
  background: #212121;
  padding: 4px 20px;
  width: 100%;
  button {
    background: #212121;
    margin-right: 20px;
    &:disabled {
      :hover {
        background: #212121;
      }
      :active {
        background: #212121;
      }
    }
  }
}

.post {
  display: flex;
  justify-content: space-between;
  max-height: 195px;
  padding: 10px 15px;
  margin: 10px;
  border: 1px solid white;
  @media screen and (max-width: 640px) {
    img {
      width: 120px;
    }
  }
  .left {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    .top {
      display: flex;
      justify-content: space-between;
      .userdata {
        padding: 5px 0 10px;
        display: flex;
        flex-direction: column;
        justify-content: left;
        p {
          font-weight: bold;
          color: #007bf0;
        }
        h4 {
          font-size: 1.2rem;
          margin: 4px 0 4px;
        }
        span {
          color: #b6b6b6;
          font-size: 0.7rem;
        }
      }
      .icon {
        margin-right: 10px;
      }
    }
    .bottom {
      max-height: 150px;
      overflow: hidden;
    }
  }
  img {
    width: 150px;
  }
}

.btn-post {
  align-self: center;
  cursor: pointer;
  padding: 10px 20px;
  background: #333333;
  border: 1px solid white;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 10px;
  &:hover {
    background: $hover;
  }
  &:active {
    background: #747474;
    transition: 0.2s;
  }
}

.show {
  display: block !important;
}

.icon {
  i {
    padding: 10px;
    cursor: pointer;
    border-radius: 50%;
    font-size: 1.8rem;
    &:hover {
      background: $hover;
    }
    &:active {
      background: #747474;
      transition: 0.2s;
    }
  }
}

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: darkgrey;
  outline: 1px solid slategrey;
}
