<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="styles.css">
    <title>Document</title>
</head>

<body>
    <div class="chat">
        <h4 class="chat-header">Welcome to our Chat!</h4>
        <span class="divider"></span>
        <div class="chat-messages">
            <div class="messages">
                <div class="message my">
                    <span>qweqwe</span>
                    <p>Hello</p>
                </div>
                <div class="message">
                    <span>qweqwe</span>
                    <p>Hello</p>
                </div>
            </div>
            <div class="myform">
                <input class="myinput" value="My message is here" />
                <button type="button" class="btn btn-primary">
                    Send
                </button>
            </div>
            <div class="chat-users">
                <p>Online (3):</p>
                <span class="badge badge-success">Success</span>
            </div>
        </div>
    </div>
</body>

</html>