.chat {
  width: 40%;
  margin: 10px;
  background-color: white;
  display: flex;
  flex-direction: column;
  border: 1px solid rgba(159, 183, 197, 0.2);
  border-radius: 8px;
  height: 90vh;
}
.chat-header {
  text-align: center;
  padding: 10px 0 0;
}
.divider {
  width: 95%;
  height: 1px;
  margin: 0 auto;
  background-color: rgb(160, 156, 156);
}

.chat-messages {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
  padding: 10px;
}
.messages {
  height: 330px;
  overflow: auto;
}
.message {
  display: flex;
  margin-bottom: 7px;
}
.my {
  flex-direction: row-reverse;
}
.my span {
  margin-left: 10px!important;
}
.message p {
  margin-bottom: 0;
  font-size: .9rem;
  margin-right: 2px;
  margin-left: 7px;
}
.message span {
  border-radius: 10px;
  background-color: #7160ff;
  padding: 2px 7px;
  font-size: .8rem;
  color: #fff;
  margin: 0;
}
.myform {
  display: flex;
  padding: 10px;
  justify-content: space-between;
  margin: 0;
}
.myinput {
  border: 1px solid rgb(155, 150, 150);
  flex: 1;
  border-radius: 5px;
  padding: 4px 7px;
  margin-right: 10px;
  color: #333;
  font-size: .9rem;
}
.chat-users {
  border-right: 1px solid rgba(159, 183, 197, 0.1);
  padding: 10px;
  background-color: #f6f9fa;
}
.chat-users p {
  display: inline;
}
@media only screen and (max-width: 900px) {
    .chat {
        width: 90%;
        margin: 10px auto;
    }
}